#Environments
venv3/
venv/


#Python
__pycache__/
.pytest_cache/


#Tests
.coverage
data/out/
data/ultrasound/test_time
weights/image_enhancer_model

#IDE
process-palette.json
.idea/
.DS_Store

#Build
dist/
aesculapius.egg-info/

#Archives
*.7z
*.jar
*.rar
*.zip
*.gz
*.bzip
*.pkl
*.h5
*.pt
*.tar
*.pth